
  #data_intro {
    z-index: 1;
  }
  #photo_intro {
    position: absolute;
    top: 00px;
  }
  #photo_outro {
    position: absolute;
    top: 00px;
  }
  #animation_outr {
    position: absolute;
    top: 00px;
  }
  #animation_loop {
    position: absolute;
    top: 00px;
  }